<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push" class="sidenav">
        <mat-toolbar color="warn">
            <span>Menú</span>
            <span class="spacer"></span>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>
        <!-- menu list sidenav -->
        <app-menu (sidenav)="sidenav.toggle()"></app-menu>
    </mat-sidenav>
    <!-- nav bar -->
    <app-barra (sidenav)="sidenav.toggle()"></app-barra>
   

    <div class="container">
        <router-outlet></router-outlet>
    </div>


</mat-sidenav-container>

<!-- fxHide.xs para hacer que se oculte en dispisivitov movil -->